#app-grid {
	layout: grid;
	grid-size: 2;
	grid-columns: 1fr 1fr;
	grid-rows: 35% 65%;
}

FunctionCalls {
	border: round dodgerblue 60%;
	border-title-align: center;
}

#model-metadata {
	border: round orange 60%;
	border-title-align: center;
}

Prompt {
	color: cyan;
}

Response {
	color: white;
}

ChatView {
	column-span: 2;
	margin-top: 1;
	border: round white 60%;
	border-title-align: center;
}

